.etc/etc/wpa_supplicant/
dot_secrets
filezilla/.config/filezilla/*
!filezilla/.config/filezilla/sitemanager.xml
ipython/.config/ipython/*
!ipython/.config/ipython/profile_default/ipython_config.py
jupyter/.config/jupyter/migrated
keras/.keras/datasets
kitty/**/kitty/cached.json
neovim/.config/nvim/.netrwhist
neovim/.config/nvim/autoload/plug.vim
neovim/.config/nvim/autoload/plug.vim.old
neovim/.config/nvim/nviminfo
neovim/.config/nvim/plugged/
neovim/.config/nvim/spell/*
!neovim/.config/nvim/spell/en.utf-8.add
python/.config/python/.python_history
ssh/.ssh/authorized_keys
ssh/.ssh/id_rsa
ssh/.ssh/id_rsa.pub
ssh/.ssh/known_hosts
xfce-terminal/.config/*
!xfce-terminal/.config/xfce4/terminal/terminalrc
