neovim/.config/nvim/.netrwhist
neovim/.config/nvim/autoload/plug.vim
neovim/.config/nvim/autoload/plug.vim.old
neovim/.config/nvim/nviminfo
neovim/.config/nvim/plugged/
neovim/.config/nvim/spell/en.utf-8.add.spl
neovim/.config/nvim/spell/en.utf-8.spl
neovim/.config/nvim/spell/en.utf-8.sug
ssh/.ssh/authorized_keys
ssh/.ssh/id_rsa
ssh/.ssh/id_rsa.pub
ssh/.ssh/known_hosts
venv/.venv/*/**
xfce-terminal/.config/xfce4/help.rc
xfce-terminal/.config/xfce4/terminal/accels.scm
xfce-terminal/.config/xfce4/xfconf
