"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Justin Li"
email = "justinnhli@gmail.com"

[git]
colocate = false

[ui]
diff-editor = ":builtin"

[revsets]
# breaking this down:
#     @
#         the working commit
#     trunk()
#         the remote of the default bookmark
#     heads(::) ~ bookmarks(regex:'^hidden-')
#         all heads except bookmarks starting with "hidden-"
#     fork_point(...)
#         the last common ancestor of all arguments
# together, this setting shows all comments:
#     from the fork_point() of all of the above
#     to all of the above
log = "fork_point(@ | trunk() | (heads(::) ~ bookmarks(regex:'^hidden-')))::(@ | trunk() | (heads(::) ~ bookmarks(regex:'^hidden-')))"

[aliases]
logn = ["log", "-r", "present(@) | ancestors(immutable_heads().., 2) | present(trunk())"]
loga = ["log", "-r", "::"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
