"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Justin Li"
email = "justinnhli@gmail.com"

[ui]
diff-editor = ":builtin"

[revsets]
# breaking this down:
#     @
#         the working commit
#     trunk()
#         the remote of the default bookmark
#     bookmarks() ~ bookmarks(regex:'^hidden-')
#         all bookmarks except those starting with "hidden-"
# together, this setting shows:
#     the current commit, and
#     all commits between trunk() and heads(), excluding hidden bookmarks
log = "@ | trunk()::(@ | (heads(::) ~ bookmarks(regex:'^hidden-')))"

[aliases]
logn = ["log", "-r", "present(@) | ancestors(immutable_heads().., 2) | present(trunk())"]
loga = ["log", "-r", "::"]
