"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Justin Li"
email = "justinnhli@gmail.com"

[ui]
diff-editor = ":builtin"

[revsets]
# @
#     the working commit
# trunk()
#     the default bookmark/remote
# ancestors((~::trunk()) ~ ancestors(bookmarks(backlog)), 2)
#     together, this is all non-trunk branches except backlogs
#     breaking down the first argument
#         ~::trunk() is everything that is not the ancestor of trunk(), except
#         ~ancestors(bookmarks(backlog)) the ancestors of "backlog" bookmarks
#     the ancestors of those commits is to include the branch point
log = "@ | trunk() | ancestors((~::trunk()) ~ ancestors(bookmarks(substring:backlog)), 2)"

[aliases]
logn = ["log", "-r", "present(@) | ancestors(immutable_heads().., 2) | present(trunk())"]
loga = ["log", "-r", "::"]
