"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Justin Li"
email = "justinnhli@gmail.com"

[git]
colocate = false

[ui]
diff-editor = ":builtin"

[revset-aliases]
"closest_bookmark(to)" = "heads(::to & bookmarks())"
"hidden_bookmarks()" = "bookmarks(regex:'^hidden-')"
"non_hidden_heads()" = "heads(::) ~ hidden_bookmarks()"
"closest_immutable(to)" = "heads(::to & immutable_heads())"
"important_commits()" = "@ | closest_immutable(@) | non_hidden_heads()"

[revsets]
log = "fork_point(important_commits())::important_commits()"

[aliases]
logn = ["log", "-r", "present(@) | ancestors(immutable_heads().., 2) | present(trunk())"]
loga = ["log", "-r", "::"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]
