#minute  hour  date  month  day_of_week  command
0        0     *     *      *            /home/justinnhli/Dropbox/bin/subitize-update.sh
0        0     *     *      *            /usr/bin/python3 $HOME/Dropbox/pim/journal/tools/autogit.py --directory $HOME/Dropbox/pim/journal/ stash
